@import url('https://fonts.googleapis.com/css?family=Aldrich|Michroma');

html{
  background-color: #edebff;
}
h2
{
  font-family: 'Michroma', sans-serif;
  font-size: 20px;
}
body{
    font-family: 'Courier New', sans-serif;
    /* margin-bottom: 10px; */
}

/* div.ex3 {
  background-color: lightblue;
  width: 1000px;
  height: 110px;
  overflow: auto;
} */
.topnav {
  height: 90px;
  width: 200px;
  top: 0;
    padding: 4px 100px;
    background-color: #edebff;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 24px 26px;
  text-decoration: none;
  font-size: 17px;
}

.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #544f80;
  overflow-x: hidden;
  padding-top: 20px;

}

.sidenav a {
  padding: 26px 5px 20px 5px;
  text-decoration: none;
  font-family: 'Michroma', sans-serif;
  font-size: 8px;
  color:  #edebff;
  display: block;
}

a:hover {
  background-color: #767580;
}

.container{
  width:100%;
}

.clickbait {
    float: left;
    /* margin-left:170px; */
    padding-right: 20px;
    margin-bottom: 10px;
}
.clickbait2 {

    padding-right: 20px;
    margin-bottom: 10px;
}


.text2{
  float; left;
  margin: 55px;

}


.text{
  float; left;
  margin: 55px;
  width: 1000px;
  height: 180px;
  overflow: scroll;



}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}



.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px  20px;
}

.main2 {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px  20px;
}


.item{
  width:300px;
  text-align:center;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  float:left;
}

.item2{
  width:1000px;
  text-align:center;
  margin-right: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  float:right;
}
