body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 90px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eee;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 46px 5px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #2196F3;
  display: block;
}


.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 15px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
