@import url('https://fonts.googleapis.com/css?family=Aldrich|Michroma');


*{
    margin: 0;
    padding: 0;
    color:#767580;

}
      .body {padding: 50; margin: 50 250 50 250;
            background-color: #767580;}
      .h1 {font-family: "Michroma", sans-serif; 
           background-color: #544f80;
           padding: 30px;
           text-align:center;
           color:#a89eff;
           font-size: 60;
           font-family: cursive;}
      .p1 { color: #edebff;
           font-size: 20;
           font-family: courier new;}

      .p { color:#bdbccc; 
           font-size:15;
           font-family: courier new;}